@import './common/var.scss';
.wen-button {
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  font-size: 15pt;
  height: 45px;
  line-height: 45px;
  text-align: center;
  -webkit-appearance: none;
  user-select: none;
}

.wen-button:active {
  opacity: .8;
}

.wen-button--default {
  color: #333;
  background-color: #fff;
  border: 1px solid #eee;
}
.wen-button--primary {
  background-color: $primary;
  color: #fff;
  padding: 0 8px;
}
.wen-button--normal {
  padding: 0 15px;
  font-size: 14px;
}
.wen-button--large {
  width: 100%;
  height: 50px;
  line-height: 48px;
}

.wen-button--small {
  height: 30px;
  padding: 0 8px;
  min-width: 60px;
  font-size: 12px;
  line-height: 28px;
}

.wen-button--disabled {
  color: #999;
  background-color: #eee;
  border: 1px solid #e5e5e5;
}
