@import "./common/var.scss";
.wen-cell {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  line-height: 24px;
  background-color: #fff;
  padding: 10px 15px;
  color: #333;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  &-active {
    &:active {
      background-color: $active-color;
    }
  }
  &-switch:active {
    background-color: #fff;
  }
  &__left {
    flex: 1;
    color: #4a4a4a;
  }
  &__right {
    flex: 1;
    font-size: 12px;
    text-align: right;
    color: #9b9b9b;
  }
  &__icon {
    color: #999;
    line-height: 24px;
    margin-left: 5px;
    min-width: 16px;
  }
}
