* {
  box-sizing: border-box;
}

*:not(input) {
  -webkit-user-select: none;
}

html {
  -webkit-tap-highlight-color: transparent;
}

p,
div {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

a,
input,
button,
textarea {
  &:focus {
    outline: none;
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button,
textarea {
  font: inherit;
}
